@{
    ViewData["Title"] = "About Group 7";
}
<h1>@ViewData["Title"]</h1>

<p>We are the creators of this solution: </p>
<p>Elise </p>
<p>Emma</p>
<p>Halvard</p>
<p>Jan Kåre </p>
<p>Karoline</p>
<p>Milana</p>