@model List<NRL_PROJECT.Models.ObstacleReportData>

<h2>Obstacle Reports</h2>

<table class="table">
    <thead>
        <tr>
            <th>Report_Id</th>
            <th>Reported_Item</th>
            <th>Reported_Location</th>
            <th>Time_of_Submitted_Report</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model)
        {
            <tr>
                <td>@report.Report_Id</td>
                <td>@report.Reported_Item</td>
                <td>@report.Reported_Location</td>
                <td>@report.Time_of_Submitted_Report.ToString("g")</td>
            </tr>
        }
    </tbody>
</table>
