@{
    ViewData["Title"] = "Bekreft Epost";
}
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h1>@ViewData["Title"].</h1>
<div>
    <p>
        Epost bekreftet. <a asp-controller="Account" asp-action="Login">Trykk her for å logge inn.</a>.
    </p>
</div>
