@{
    ViewData["Title"] = "Tilbakestilling av passord, bekreftelse";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"].</h1>
<p>
    Passordet ditt har blitt tilbakestillt. <a asp-controller="Account" asp-action="Login">Trykk her for å logge inn med ditt nye passord</a>.
</p>
